* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
    background: #ffffff;
    color: #ffffff;
}
.container {
    max-width: 1216px;
    margin: 0 auto;
}
.header_container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 20px 80px;
    flex-wrap: wrap;
}
.logo {
    height: 38px;
    width: 160px;
    background: url(../img/logo.svg) 0 0 no-repeat;
}
.add_to_cart {
    height: 28px;
    width: 33px;
    background: url(../img/add_to_cart.svg) 0 0 no-repeat;
}
.header_menu, .header_btn, .add_to_cart {
    padding-top: 20px;
}
a:-webkit-any-link {
    text-decoration: none;
    text-transform: capitalize;
}
a.header_menu_item {
    padding: 0 20px;
    background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}
a.header_menu_item:hover {
    padding-bottom: 3px;
    border-bottom: 3px solid #FFC000;
}
.header_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_btn_item {
    margin: 0 10px;
}
.header_btn {
    padding: 20px 28px;
    background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
    box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
    border-radius: 100px;
    color: #ffffff;
}
.login {
    padding: 20px 60px;
}
.main_header {
    background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
}
.header_content {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.header_content_text {
    flex: 40%;
    padding: 100px 0;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 44px;
    line-height: 158.34%;
    padding-bottom: 20px;
}
.header_text {
    font-size: 18px;
    line-height: 33px;
    font-weight: 300;
}
.header_content_image {
    flex: 40%;
    background: url(../uploads/icons.png) 50% 0 no-repeat;
}
.courses {
    position: relative;
    display: grid;
    grid-template-areas: 
    "search search"
    "main_grid panel"
    "pagination pagination"
    ;
    grid-template-rows: minmax(220px, 305px) auto minmax(220px, 305px);
    grid-template-columns: 3fr 1fr;
}
.search {
    grid-area: search;
}
.main_grid {
    grid-area: main_grid;
}
.panel {
    grid-area: panel;
}
.pagination {
    grid-area: pagination;
}
.main_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 290px));
    grid-template-rows: repeat(5, minmax(200px, 279px));
    grid-gap: 10px;
}
.search_text {
    background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
    box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
    border-radius: 10px;
    padding: 30px 60px;
    margin: 90px 0 70px;
}
input[type=text] {
    width: 90%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-align: justify;
    padding-left: 10px;
}
input::placeholder {
    color: #ffffff;
}
.show {
    display: flex;
    justify-content: space-between;
    color: #2F2F2F;
    font-size: 14px;
    line-height: 20px;
    width: 75%;
}
.showing_results {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.show_image {
    height: 21px;
    width: 57px;
    display: inline-block;
    background: url(../img/view_mode.png) 0 0 no-repeat;
    background-size: 90%;
}
.grid_item {
    background: #C4C4C4;
    border-radius: 10px;
    position: relative;
}
.grid_icon {
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
    font-size: 14px;
    line-height: 152.34%;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    border-radius: 15px 8px;
    padding: 10px 26px;
    font-weight: bold;
}
.grid_title {
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
    width: 100%;
    min-height: 73px;
    padding: 16px 51px 10px 28px;
    font-size: 14px;
    line-height: 152.34%;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    justify-content: left;
    float: left;
}
.pagination {
    display: inline-block;
    padding: 155px 0 100px;
}
a.pag_item {
    text-decoration: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #E0E0E0;
    padding: 20px;
    font-size: 14px;
    line-height: 23px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #535353;
}
a.pag_item:hover {
    background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
    color: #ffffff;
}
.panel {
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 30px;
    position: absolute;
    top: -5%;
    right: 10%;
}
.all_courses {
    display: flex;
    flex-direction: column;
    list-style: none;
}
.course_item {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 105.47%;
    color: #5C5C5C;
    padding: 10px 0 25px 0;
}
li.course_item:first-child {
    font-size: 18px;
    line-height: 105.47%;
    font-weight: bold;
}
li.course_item:last-child {
    font-size: 18px;
    line-height: 105.47%;
    font-weight: bold;
}
.payments {
    padding: 28px 0 50px;
}
.payment_item {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    border: 1px solid #5C5C5C;
    padding: 17px 14px;
    font-size: 11px;
    line-height: 105.47%;
    font-family: 'Montserrat', sans-serif;
    color: #5C5C5C;
}
.filter {
    background: linear-gradient(253.58deg, #FFC000 1.55%, #FF8A00 95.8%);
    box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
    border-radius: 100px;
    pad: 20px 63px;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    padding: 22px 0;
    width: 70%;
}
.footer {
    background: #212121;
}
.main_footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 50px 0;
}
.company, .links, .contact, .others {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.company_info {
    padding: 20px 0px 40px 0px;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Montserrat', sans-serif;
}
a.link_item, .contact, a.other_item {
    text-decoration: none;
    font-size: 15px;
    line-height: 175.78%;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}
a.link_item:first-child, .contact_title {
    font-weight: bold;
    padding-bottom: 30px;
}
a.soc_item {
    display: inline-block;
    height: 25px;
    width: 25px;
}
.fb {
    background: url(../img/fb.svg) 0 0 no-repeat;
}
.tw {
    background: url(../img/tw.svg) 0 0 no-repeat;
}
.yt {
    background: url(../img/yt.svg) 0 0 no-repeat;
}
.db {
    background: url(../img/dr.svg) 0 0 no-repeat;
}
.right {
    background: #000000;
}
.rights {
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 13px 0;
}
span {
    color: #FFC000;
}
@media screen and (max-width: 1028px) {
    .header_container {
        flex-direction: column;
    }
} 